*{
    margin:0;
    padding: 0;
    border:0;
    font-family: "Segoe Ui";
}

@keyframes cascade-top {
    from {top: -50px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

.cascade-animation-top{
    position: relative;
    animation-name: cascade-top;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

table{
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    border-collapse: collapse;
}

th{
    background: #315f93;
    color: white
}

tr:nth-of-type(odd) { 
	background: #ecf9ff; 
}

.container-article{
    padding: 2rem;
    display: grid;
    grid-template-areas: 
                ' filter_ . add_button'
                ' table table table ';
    row-gap: 1rem;

    &__filter{
        grid-area: filter_;
        width: 40ch;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

        /*&__filter-label{

        }*/

        &__filter-input{
            border: 1px solid black;
            border-radius: 4px;
            padding: 0.2rem;
        }
    
    &__add-button{
        
        grid-area: add_button;
        background: #49d249; //#2bdd2b
        color: white;
        border-radius: 3px;
        padding: 0.5rem 1rem;
        font-weight: 400;
        cursor: pointer;
        margin: auto;
        margin-right: 0px;
        
    }

    &__table{
        grid-area: table;
        width: 100%;
    }

        &__table-header-td{
            border: 1px solid rgb(189, 189, 189);
            border-collapse: collapse;
            text-align: center;
            padding: 0.5rem;
            font-weight: 500;
        }

        /*&__table-shots-tr{
            background: #eefaff;
        }*/

        &__table-body-td{
            border: 1px solid rgb(189, 189, 189);
            border-collapse: collapse;
            padding: 0.5rem;
        }

            &__table-img-img{
                max-width: 7vw;
            }
        
        &__table-name-td{
            max-width: 20vw;
        }

        &__table-description-td{
            max-width: 25vw;
        }

        &__table-price-td{
            text-align: right;
            width: 6rem;
        }

        &__table-material-td{
            max-width: 8vw;
        }

        &__table-quantity-td{
            text-align: right;
        }

        &__table-button-td{
            width: 5rem;
            justify-content: center;
            gap: 0.3rem;
        }

            &__table-button{
                cursor: pointer;
                padding: 0.2rem;
                max-width: 1.7rem;
                border: 1px solid rgba(215, 215, 215, 0);
                border-radius: 4px;
            }

    /*&__table-header-tr-element{
        display: block;
    }*/
}

.container{
    &__table-body-tr-no-element{
        text-align: center;
        display: none;
    }

        &__table-body-td-no-element{
            padding: 0.4rem;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
        }

            &__table-body-td-icon-img{
                width: 3ch;
            }
}

.modal-update-article{
    position:fixed;
    top:0;
    width: 100%;
    height: 105%;
    background: #4f4f4f59;
    z-index: 5;
    display: none;
    justify-content: center;

    animation-name: cascade-top;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    

    &__container{
        position: absolute;
        width: 60rem;
        background-color: white;
        place-self: center;
        border-radius: 6px;
    }

    &__header{
        background: #6565658c;
        display: flex;
        justify-content: end;
        border-radius: 6px 6px 0 0;
    }

        &__x{
            cursor: pointer;
        }

    &__content{
        display: grid;
        grid-template-areas: 
                    'img_ name_ name_ price category category'
                    'img_ description description quantity category category'
                    'img_ description description iva size size'
                    'img_ brand material unity size size'
                    '. . . . . save_button';
        gap: 1rem;
        justify-content: space-between;
        padding: 2rem 3rem;
    }
        

        &__image{
            grid-area: img_;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
            &__image-label{
                padding-left: 0.3rem;
            }

            .box {
                display: block;
                width: 12rem;
                height: 12rem;
                background-color: white;
                border: 1px solid rgba(101, 101, 101, 0.364);
                border-radius: 5px;
                //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                overflow: hidden;

                &__update{
                    margin:auto;
                }
                
            }

            .upload-options {
                //position: relative;
                height: 3rem;
                background-color: #315f93;
                cursor: pointer;
                overflow: hidden;
                text-align: center;
                transition: background-color ease-in-out 150ms;
                &:hover {
                    background-color: lighten(#315f93, 10%);
                }

                & input {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                & label {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    overflow: hidden;
                    & span {
                        display: inline-block;
                        width: 50%;
                        height: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        vertical-align: middle;
                        text-align: center;
                        &:hover i.material-icons {
                            color: lightgray;        
                        }
                    }
                }
            }
            
            
            .js--image-preview {
                width: 100%;
                height: 9rem;
                position: relative;
                overflow: hidden;
                background-image: url('');
                background-color: white;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                &.js--no-default::after {
                    display: none;
                }
            }

        &__name{
            grid-area: name_;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
            &__name-label{
                padding-left: 0.3rem;
            }

            &__name-field{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                //width: 30ch;
            }

        &__description{
            grid-area: description;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__description-label{
                padding-left: 0.3rem;
            }

            &__description-textarea{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                resize: none;
                height: 100%;
            }

        &__price{
            grid-area: price;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__price-label{
                padding-left: 0.3rem;
            }

            &__price-field{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;

                width: 6rem;
                text-align: right;
            }

        &__brand{
            grid-area: brand;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__brand-label{
                padding-left: 0.3rem;
            }

            &__brand-field{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;

                width: 6.2rem;
            }

        &__quantity{
            grid-area: quantity;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__quantity-label{
                padding-left: 0.3rem;
            }

            &__quantity-field{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;

                width: 6rem;
                text-align: right;
            }

        &__material{
            grid-area: material;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__material-label{
                padding-left: 0.3rem;
            }

            &__material-field{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                width: 6.2rem;
            }

        &__iva{
            grid-area: iva;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__iva-label{
                padding-left: 0.3rem;
            }

            &__iva-field{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                width: 6rem;
                text-align: right;
            }

        &__unity{
            grid-area: unity;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__unity-label{
                padding-left: 0.3rem;
            }

            &__unity-select{
                border: 1px solid rgba(101, 101, 101, 0.364);
                border-radius: 4px;
                width: 6rem;
                padding: 0.3rem;
            }

        &__category{
            grid-area: category;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__category-label{
                padding-left: 0.3rem;
            }

            &__category-checkbox-div{
                overflow: auto;
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                height: 6rem;

                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }

            &__category-checkbox-div::-webkit-scrollbar {
                width: 12px;               
            }
        
            &__category-checkbox-div::-webkit-scrollbar-track {
                background: #f3f6fa;        
            }
        
            &__category-checkbox-div::-webkit-scrollbar-thumb {
                background-color: #ccc;    
                border-radius: 20px;       
                border: 3px solid #f3f6fa;  
            }

                &__category-checkbox-div-element{
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                }

                    &__category-checkbox-div-element-checkbox{
                        width: 1rem;
                        height: 1rem;
                    }

        &__size{
            grid-area: size;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

            &__size-label{
                padding-left: 0.3rem;
            }

            &__size-checkbox-div{
                overflow: auto;
                scrollbar-width: auto;
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                height: 6rem;

                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }

            &__size-checkbox-div::-webkit-scrollbar {
                width: 12px;               
            }
        
            &__size-checkbox-div::-webkit-scrollbar-track {
                background: #f3f6fa;        
            }
        
            &__size-checkbox-div::-webkit-scrollbar-thumb {
                background-color: #ccc;    
                border-radius: 20px;       
                border: 3px solid #f3f6fa;  
            }

                &__size-checkbox-div-element{
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                }

                    &__size-checkbox-div-element-checkbox{
                        width: 1rem;
                        height: 1rem;
                    }

                    &__size-checkbox-div-element-field{
                        border: 1px solid rgba(101, 101, 101, 0.364);
                        padding: 0.3rem;
                        border-radius: 4px;
                        width: 5rem;
                        text-align: right;
                    }

        &__save-button{
            grid-area: save_button;
            background: #3fcd3f; //#2bdd2b
            color: white;
            border-radius: 3px;
            padding: 0.5rem 1rem;
            font-weight: 400;
            cursor: pointer;
            margin-top: 2rem;
        }
        
}

.modal-delete-article{
    position:fixed;
    top:0;
    width: 100%;
    height: 105%;
    background: #4f4f4f59;
    z-index: 5;
    display: none;
    justify-content: center;

    animation-name: cascade-top;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    

    &__container{
        position: absolute;
        width: 20rem;
        background-color: white;
        place-self: center;
        border-radius: 6px;
    }

    &__header{
        background: #ff3333;
        display: flex;
        justify-content: end;
        border-radius: 6px 6px 0 0;
    }

        &__x{
            cursor: pointer;
        }

    &__content{
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        gap: 1rem;
    }
        &__text{
            text-align: center ;
        }

        &__button-div{
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

            &__button{
                padding: 0.5rem;
                border-radius: 4px;
                text-align: center;
                width: 2rem;
                background: #315f93;
                cursor: pointer;
            }

                &__button-no{
                    background: #bbbcbc;
                }

                &__button-yes{
                    background: #ff3333;
                }
}

@media screen and (max-width:"1280px"){
    .container-article{
        &__table-name-td{
            max-width: 20vw;
        }

        &__table-description-td, &__description-th{
            max-width: 15vw;
        }

        /*&__table-price-td, &__price-th{
            text-align: right;
        }*/

        &__table-brand-td, &__brand-th{
            display:none;
        }

        &__table-material-td, &__material-th{
            display:none;
        }

        /*&__table-quantity-td, &__quantity-th{
            text-align: right;
        }*/
    }
}