<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Athletix</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <!-- Missing resource -->
    	<error-code>404</error-code>
    	<location>/error_page.jsp</location>
    </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Athletix</web-resource-name>
      <url-pattern>/Athletix</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login-form.jsp</form-login-page>
      <form-error-page>/loginerror.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>manager</role-name>
  </security-role>
</web-app>