@import "../../../style/common.scss";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font;
}

.container-reserved-area{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__profile{
        display: grid;
        grid-template-areas: 'titol titol'
                            'image_ text_';
        justify-content: center;
        column-gap: 3rem;
        row-gap: 1rem;

        padding: 0.5rem;

        &-titol{
            grid-area: titol;
            font-size: 1.2rem;
        }

        &-image{
            grid-area: image_;
            display: flex;
            justify-content: center;
            align-items: flex-start;//center;

            &-img{
                width: 9rem; //10rem
                border-radius: 100px;
                border: 1px solid #7a7a7a;
            }
        }

        &-text{
            grid-area: text_;
            display: grid;
            grid-template-areas: 'surname  name_'
                                'email  password'
                                '. button';
            gap: 1rem;

            &-surname{
                grid-area: surname;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                &-input{
                    border: 1px solid rgba(101, 101, 101, 0.364);
                    padding: 0.3rem;
                    border-radius: 4px;
                }
            }

            &-name{
                grid-area: name_;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                &-input{
                    border: 1px solid rgba(101, 101, 101, 0.364);
                    padding: 0.3rem;
                    border-radius: 4px;
                }
            }

            &-email{
                grid-area: email;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                &-input{
                    border: 1px solid rgba(101, 101, 101, 0.364);
                    padding: 0.3rem;
                    border-radius: 4px;
                }
            }

            &-password{
                grid-area: password;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                &-input{
                    border: 1px solid rgba(101, 101, 101, 0.364);
                    padding: 0.3rem;
                    border-radius: 4px;
                }
            }

            &-button{
                grid-area: button;
                display: flex;
                justify-content: end;
                gap: 0.5rem;

                &-change{
                    width: 2rem;
                    cursor: pointer;

                    &-img{
                        width: 100%;
                    }
                }

                &-delete{
                    display: none;
                    width: 1.8rem;
                    cursor: pointer;

                    &-img{
                        width: 100%;
                    }
                }

                &-save{
                    display: none;
                    width: 1.8rem;
                    cursor: pointer;

                    &-img{
                        width: 100%;
                    }
                }
            }
        }
    }

    &__shipping-address{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        padding: 1rem;

        &-titol{
            font-size: 1.2rem;
        }

        &-element{
            display: grid;
            grid-template-columns: repeat(auto-fill,17rem);
            justify-content: center;
            gap: 1rem;
            //justify-content: center;

            &-div{
                width: 17rem;
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                cursor: pointer;

                display: flex;
                flex-direction: column;

                &-add{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 1.5rem;

                    border: 2px dashed rgba(101, 101, 101, 0.364);
                    border-radius: 4px;
                    width: 17rem;
                    cursor: pointer;
                }
            }

                &-address{
                    display: flex;
                    gap: 0.5rem;
                    cursor: pointer;

                    &-label{
                        color:#7a7a7a;
                        cursor: pointer;

                        &-text{
                            cursor: pointer;
                        }
                    }
                }

                &-city{
                    display: flex;
                    gap: 0.5rem;
                    cursor: pointer;

                    &-label{
                        color:#7a7a7a;
                        cursor: pointer;

                        &-text{
                            cursor: pointer;
                        }
                    }
                }
        }
    }

    &__payment-methods{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        padding: 1rem;

        &-titol{
            font-size: 1.2rem;
        }

        &-element{
            display: grid;
            grid-template-columns: repeat(auto-fill, 20rem);
            justify-content: center;
            gap: 1rem;
            //justify-content: center;


            &-div {
                //margin: 18% auto;
                padding: .1em 1em;
                color: white;
                width: 17rem;
                height: 10rem;
                border-radius: 11px;
                //background: linear-gradient(135deg, #45484d 0%,#000000 100%);
                background: linear-gradient(90deg, rgba(27,64,135,1) 0%, rgba(31,55,81,1) 100%);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                transition: transform .3s ease, box-shadow .2s ease-in;

                &-add{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 3rem;

                    padding: .1rem 1rem;
                    color: white;
                    width: 17rem;
                    height: 10rem;
                    border-radius: 11px;
                    //background: linear-gradient(135deg, #45484d 0%,#000000 100%);
                    background: linear-gradient(90deg, rgba(27,64,135,1) 0%, rgba(31,55,81,1) 100%);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                    transition: transform .3s ease, box-shadow .2s ease-in;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.015);
                        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
                      }
                }

                &:hover {
                  cursor: pointer;
                  transform: scale(1.015);
                  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
                }

                display: grid;
                grid-template-areas: 'main-title . globe'
                                    '. . .'
                                    'no no mastercard'
                                    'name_ name_  mastercard'
                                    'exp-date exp-date mastercard';
            }
            &-main-title{
                grid-area: main-title;
                padding-top: 1rem;

                &-img{
                    width: 8rem;
                }
            }
            &-globe {
                grid-area: globe;
                float: right;
                //margin-top: -1.7em;
                //margin-right: .2em;
                font-size: 1em;
            }
            span {
                font-weight: normal;
                color: #F8F8F8;
            }
            &-chip {
                width: 50px;
                height: 50px;
                margin-top: 2.3em;
                margin-left: .4em;
                background: url(https://www.thebeneficial.com/portals/beneficialbankwebsite/images/chip.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            
            &-no {
                grid-area: no;
                //font-size: 1.25em;
                font-family: 'Cutive Mono';
                font-weight: bold;
                letter-spacing: 2px;
                text-shadow: 2px 2px 1px rgba(black, .3);
            }
            &-name {
                grid-area: name_;
                font-family: 'Cutive Mono';
                font-weight: bold;
                //font-size: 1.3em;
                //margin-top: -.5em;
            }
            &-exp-date {
                grid-area: exp-date;
                position: relative;
                //left: 11.5em;
                //bottom: 3em;
                font-size: .8em;
                opacity: .9;
            }
            &-mastercard {
                grid-area: mastercard;
                /*float: right;
                margin-top: -6.3em;*/
                background: url('http://www.pngall.com/wp-content/uploads/2016/07/Mastercard-PNG-Clipart.png');
                width: 80px;
                height: 65px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
              
            /*&-div{
                width: 17rem;
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
                cursor: pointer;

                display: flex;
                flex-direction: column;

                &-add{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 1.5rem;

                    border: 2px dashed rgba(101, 101, 101, 0.364);
                    border-radius: 4px;
                    width: 17rem;
                    cursor: pointer;
                }
            }*/
        }
    }
}

.modal-update-delete-shipping-address{
    position:fixed;
    top:0;
    width: 100%;
    height: 105%;
    background: #4f4f4f59;
    z-index: 5;
    display: none;
    justify-content: center;

    animation-name: cascade-top;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    

    &__container{
        position: absolute;
        //width: 60rem;
        background-color: white;
        place-self: center;
        border-radius: 6px;
    }

    &__header{
        background: #6565658c;
        display: flex;
        justify-content: end;
        border-radius: 6px 6px 0 0;
    }

        &__x{
            cursor: pointer;
        }

    &__content{
        display: grid;
        grid-template-areas: 'address address'
                            'city city'
                            'cap cap'
                            'delete save-button';
        gap: 1rem;
        column-gap: 4rem;
        justify-content: space-between;
        padding: 2rem 3rem;
    }

        &__address{
            grid-area: address;
            display: flex;
            flex-direction: column;

            &-input{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
            }
        }

        &__city{
            grid-area: city;
            display: flex;
            flex-direction: column;

            &-input{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
            }
        }

        &__cap{
            grid-area: cap;
            display: flex;
            flex-direction: column;

            &-input{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
            }
        }

        &__delete-button{
            grid-area: delete;
            cursor: pointer;
            background: white;

            &-img{
                width:2rem;
            }
        }
		
		&__save-button{
			grid-area: save-button;

			&-button{
				background: $save_button;
				padding: 0.5rem 1rem;
				color: white;
				border-radius: 4px;
				cursor: pointer;
			}
		}	
}

.modal-delete-shipping-address{
    position:fixed;
    top:0;
    width: 100%;
    height: 105%;
    background: #4f4f4f59;
    z-index: 7;
    display: none;
    justify-content: center;

    animation-name: cascade-top;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    

    &__container{
        position: absolute;
        width: 20rem;
        background-color: white;
        place-self: center;
        border-radius: 6px;
    }

    &__header{
        background: #ff3333;
        display: flex;
        justify-content: end;
        border-radius: 6px 6px 0 0;
    }

        &__x{
            cursor: pointer;
        }

    &__content{
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        gap: 1rem;
    }
        &__text{
            text-align: center ;
        }

        &__button-div{
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

            &__button{
                padding: 0.5rem;
                border-radius: 4px;
                text-align: center;
                width: 2rem;
                background: #315f93;
                cursor: pointer;
            }

                &__button-no{
                    background: #bbbcbc;
                }

                &__button-yes{
                    background: #ff3333;
                }
}

.modal-update-delete-payment-methods{
    position:fixed;
    top:0;
    width: 100%;
    height: 105%;
    background: #4f4f4f59;
    z-index: 5;
    display: none;
    justify-content: center;

    animation-name: cascade-top;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    

    &__container{
        position: absolute;
        //width: 60rem;
        background-color: white;
        place-self: center;
        border-radius: 6px;
    }

    &__header{
        background: #6565658c;
        display: flex;
        justify-content: end;
        border-radius: 6px 6px 0 0;
    }

        &__x{
            cursor: pointer;
        }

    &__content{
        display: grid;
        grid-template-areas: 'no no'
                            'name_ name_'
                            'exp-date exp-date'
                            'cvv cvv'
                            'delete save-button';
        gap: 1rem;
        column-gap: 4rem;
        justify-content: space-between;
        padding: 2rem 3rem;
    }

        &__no{
            grid-area: no;
            display: flex;
            flex-direction: column;

            &-input{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
            }
        }

        &__name{
            grid-area: name_;
            display: flex;
            flex-direction: column;

            &-input{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
            }
        }

        &__exp-date{
            grid-area: exp-date;
            display: flex;
            flex-direction: column;

            &-input{
                display:flex;
                gap: 1rem;

                &-month{
                    border: 1px solid rgba(101, 101, 101, 0.364);
                    padding: 0.3rem;
                    border-radius: 4px;
                }

                &-year{
                    border: 1px solid rgba(101, 101, 101, 0.364);
                    padding: 0.3rem;
                    border-radius: 4px;
                }
            }
        }

        &__cvv{
            grid-area: cvv;
            display: flex;
            flex-direction: column;

            &-input{
                border: 1px solid rgba(101, 101, 101, 0.364);
                padding: 0.3rem;
                border-radius: 4px;
            }
        }

        &__delete-button{
            grid-area: delete;
            cursor: pointer;
            background: white;

            &-img{
                width:2rem;
            }
        }
		
		&__save-button{
			grid-area: save-button;

			&-button{
				background: $save_button;
				padding: 0.5rem 1rem;
				color: white;
				border-radius: 4px;
				cursor: pointer;
			}
		}	
}

.modal-delete-payment-methods{
    position:fixed;
    top:0;
    width: 100%;
    height: 105%;
    background: #4f4f4f59;
    z-index: 7;
    display: none;
    justify-content: center;

    animation-name: cascade-top;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    

    &__container{
        position: absolute;
        width: 20rem;
        background-color: white;
        place-self: center;
        border-radius: 6px;
    }

    &__header{
        background: #ff3333;
        display: flex;
        justify-content: end;
        border-radius: 6px 6px 0 0;
    }

        &__x{
            cursor: pointer;
        }

    &__content{
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        gap: 1rem;
    }
        &__text{
            text-align: center ;
        }

        &__button-div{
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

            &__button{
                padding: 0.5rem;
                border-radius: 4px;
                text-align: center;
                width: 2rem;
                background: #315f93;
                cursor: pointer;
            }

                &__button-no{
                    background: #bbbcbc;
                }

                &__button-yes{
                    background: #ff3333;
                }
}

@media screen and (max-width: 750px){
    .container-reserved-area{
    
        &__profile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            //column-gap: 3rem;
            gap: 1rem;
    
            &-text{
                display: flex;
                flex-direction: column;
            }
        }
    }
}